@model ErrorViewModel
@{ ViewData["Title"] = "Error"; }

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при выполнении запроса!</h2>

@if (Model.ShowRequestId)
{
<p>
    <strong>ID запроса:</strong> <code>@Model.RequestId</code>
</p>}

<h3>Мод Разработчика</h3>
<p>
    Сместить до <strong>Создания</strong> Environment отобразит более подробную информацию о произошедшей ошибке.
</p>
<p>
    <strong>Среду разработки не следует включать в развернутых приложениях </strong>, так как это может привести к отображению конфиденциальной информации из исключений для конечных пользователей. Для локальной отладки среду разработки можно включить, установив для переменной среды <strong> ASPNETCORE_ENVIRONMENT </strong> значение <strong> Разработка </strong> и перезапустив приложение.
</p>
