@model ContosoUniversity.Models.Book

@{
    ViewData["Title"] = "Create";
}

<style>
    .color {
        font-size: 17px;
    }

        .color:hover {
            transition: 0.2s all linear;
            border-bottom: 3px solid black;
            padding: 10px;
            color: black;
        }

    a.color {
        transition: 0.2s all linear;
        border-bottom: 3px solid rgb(54 174 119);
        text-decoration: none;
        color: rgb(54 174 119);
        border-radius: 30px;
        padding: 5px;
        text-decoration: none;
    }
</style>

<h2 style="
        text-align: center;
        border: 3px solid rgb(54 174 119);
        border-radius: 30px;
        padding:10px;
        background:rgb(209 196 196);
        font-size:30px;">
    Создание - Книги
</h2>

<h4>Книги</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthorID" class="control-label"></label>
                <select asp-for="AuthorID" class ="form-control" asp-items="ViewBag.AuthorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SectionID" class="control-label"></label>
                <select asp-for="SectionID" class ="form-control" asp-items="ViewBag.SectionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PublisherID" class="control-label"></label>
                <select asp-for="PublisherID" class ="form-control" asp-items="ViewBag.PublisherID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfPublishing" class="control-label"></label>
                <input asp-for="YearOfPublishing" class="form-control" />
                <span asp-validation-for="YearOfPublishing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="color" asp-action="Index">Вернуться к полному списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
