@model ContosoUniversity.Models.Publisher

@{
    ViewData["Title"] = "Create";
}

<style>
    .color p {
        font-size: 17px;
    }

    .color a:hover {
        transition: 0.2s all linear;
        border-bottom: 3px solid black;
        padding: 10px;
        color: black;
    }

    .color a {
        transition: 0.2s all linear;
        border-bottom: 3px solid rgb(54 174 119);
        text-decoration: none;
        color: rgb(54 174 119);
        border-radius: 30px;
        padding: 5px;
    }

    .blackBlock:hover {
        color: aliceblue;
        transition: 0.2s all linear;
        background: rgb(54 174 119);
        color: white;
    }

    .blackBlock {
        padding: 10px;
        text-decoration: none;
        color: black;
        transition: 0.2s all linear;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }

    h2 {
        text-align: center;
        padding: 20px;
        font-size: 30px;
        background: rgb(54 174 119);
        width: auto;
        margin-top: 0;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 20px;
        color: white;
    }

    .btn {
        text-align: center;
        padding: 10px;
        font-size: 15px;
        background: black;
        color: white;
        transition: 0.2s all linear;
        border: none;
    }

    .form-group {
        transition: 0.2s all linear;
    }

    .row {
        margin: 0 100px;
    }
</style>

<h2>Создание - Издательства</h2>
<hr />
<div class="row blackBlock">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PublishingCity" class="control-label"></label>
                <input asp-for="PublishingCity" class="form-control" />
                <span asp-validation-for="PublishingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherName" class="control-label"></label>
                <input asp-for="PublisherName" class="form-control" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="form-action no-color color">
    <p>
        <a asp-action="Index">Вернуться к полному списку</a>
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
